body {
  font-size: 50px;
}


#computer-side,
#player-side {
  display: flex;
  justify-content: center;
  gap: 100px;
}

#computer-side button,
#player-side button {
  font-size: 50px;
  padding: 25px;
}

#computer-score,
#player-score {
  text-align: center;
  font-size: 80px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.chosen {
  background-color: black;
  color: white;
}

#container{
  display:flex;
  justify-content: center;
  gap: 100px;
}

#play-button{
  font-size: 36px;
  padding: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.selected-choice{
  background-color: #aaa;
}



